<div class="relative w-full h-[37vh] md:h-[66vh] flex flex-col justify-center items-center bg-[url('/Icons/bg_bann.svg')] bg-no-repeat bg-cover bg-fixed gap-4 rounded-b-[24%]">
    <div class="text-xl md:text-[5rem] font-bold text-white text-center">
        Bienvenido a <span class="degrad">J&Rwebdesing</span>
    </div> 
</div>
<style>
    div{
        
    }
    @media (min-width: 768px){
        span {
        font-size: 6.4rem;
        }
    }
</style>