<div class="relative w-full h-[37vh] md:h-[60vh] flex flex-col justify-center items-center bg-white rounded-b-[50%] gap-4">
    <div class="text-xl md:text-[5rem] font-bold text-center">
        Bienvenido a <span class="degrad">J&Rwebdesing</span>
    </div> 
</div>
<style>
    
    @media (min-width: 768px){
        span {
        font-size: 6.4rem;
        }
    }
</style>