<span class="font-bold text-black">
    J&Rwebdesing
</span>
<style>
    @media (min-width: 768px){
        span {
        font-size: 6.4rem;
        }
    }
    span {
        font-weight: 900;
        font-size: 1.7rem;
        background: linear-gradient(to right, #1cbfdb, #08519e);
        background-size: contain;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>