<div class="hidden md:flex items-center text-2xl justify-center font-bold">
    <a href="/"><img src="/Icons/home.svg" alt="Icon de inicio"> Inicio</a>
    <a href="#Proyectos"><img src="/Icons/buildings.svg" alt="Icon de proyectos"> Proyectos</a>
    <a href="#Nosotros"><img src="/Icons/diamond.svg" alt="Icon de nosotros"> Nosotros</a>
    <a href="#Equipo"><img src="/Icons/users.svg" alt="Icon de equipo"> Equipo</a>
</div>
<div>
    <img src="/Icons/menu.svg" alt="menu">
</div>
<style>
    a{
        padding: 0 20px;
        margin: 4px;
        display: flex;
        color:rgb(61, 61, 61);
        transition:.2s all ease-out;
    }
    a:hover{
        transform: scale(1.2);
        color:#0d6ab1;
    }
    @media (min-width: 768px) {
        img{
            display: none;
        }
    }
</style>