---
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>  
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	*{
		scroll-behavior: smooth;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #e9e7e7;
		margin:auto;
	}
</style>
